body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

h1 {
    font-size: 600%;
    margin-bottom: 30px;
}

.latin {
    font-style: italic;
}

.blue {
    height: 90px;
    background-color: lightsteelblue;
    border-top: 2px solid black;
    padding-bottom: 8%;
}

.cloud {
    height: 90px;
    background-color: bisque;
    border-top: 2px solid black;
    padding-bottom: 8%;
}

.lingon {
    height: 90px;
    background-color: indianred;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 8%;
}
p:first-of-type {
    font-weight: bold;
}

