body {
    font-family: Arial, Verdana, sans-serif;
}
table {
    border-collapse: collapse;
}

tr:first-of-type > th {
    background-color: red;
    color: white;
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 130%;
}
th:first-child, td:first-child {
    text-transform: uppercase;
    font-weight: bold;
    border-right: 2px solid black;
}

tr:nth-child(2) > td {
    background-color: lightgrey;
}