body {
    font-family: Arial, Verdana, sans-serif;
}
html {
    background: lightcyan;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

ul, ol {
    border: 2px solid darkgrey;
}

li {
    color: darkgrey;
}

p, ul, ol {
    text-indent: 20px;
}

figcaption {
    font-size: 80%;
    font-weight: bold;
}

.code {
    border: 2px solid darkgrey;
}
