body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

h1 {
    text-decoration: underline;
}

#button {
    font-size: 16px;
    background-color: #e7e7e7;
    color: black;
}